<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TBRMS_Application.My.MySettings.DBConnectionString"
            connectionString="Data Source=techbuns.database.windows.net;Persist Security Info=True;User ID=TopBuns;Password=TechBuns123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>